<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Action iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>Prod.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Raindrop.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Share iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Share macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>WebExtension iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>WebExtension macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>cupertino.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>76154B6129C202D5002DDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76154C5729C21039002DDDEB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767F0951299FD6E100349902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767F096E299FD6E200349902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>767F0978299FD6E200349902</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7685A190286868AC00A4BC3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>76DC0B9629AF6C21007B4BDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
